##### 1.0 Load data from http://media.wiley.com/product_ancillary/6X/11186614/DOWNLOAD/ch01.zip, Concessions.xlsx

In [52]:
# code written in python_3. (for py_2.7 users some changes may be required)

import matplotlib.pyplot as plt
matplotlib.style.use('ggplot')
import pandas # load pandas dataframe lib

# find path to your Concessions.xlsx
# df = short for dataframe == excel worksheet
# zero indexing in python, so first worksheet = 0
df_sales = pandas.read_excel(open('C:/Users/craigrshenton/Desktop/Dropbox/excel_data_sci/ch01_complete/Concessions.xlsx','rb'), sheetname=0) 
df_sales = df_sales.iloc[0:, 0:4]
df_sales.head() # use .head() to just show top 4 results

            Item   Category  Price    Profit
0           Beer  Beverages    4.0  0.500000
1      Hamburger   Hot Food    3.0  0.666667
2        Popcorn   Hot Food    5.0  0.800000
3          Pizza   Hot Food    2.0  0.250000
4  Bottled Water  Beverages    3.0  0.833333

In [53]:
df_sales.dtypes # explore the dataframe

Item         object
Category     object
Price       float64
Profit      float64
dtype: object

In [54]:
df_sales['Item'].head() # how to select a col

0             Beer
1        Hamburger
2          Popcorn
3            Pizza
4    Bottled Water
Name: Item, dtype: object

In [55]:
df_sales['Price'].describe() # basic stats

count    199.000000
mean       2.829146
std        0.932551
min        1.500000
25%        2.000000
50%        3.000000
75%        3.000000
max        5.000000
Name: Price, dtype: float64

##### 1.2 Calculate Actual Profit

In [56]:
df_sales = df_sales.assign(Actual_Profit = df_sales['Price']*df_sales['Profit']) # adds new col
df_sales.head()

            Item   Category  Price    Profit  Actual_Profit
0           Beer  Beverages    4.0  0.500000            2.0
1      Hamburger   Hot Food    3.0  0.666667            2.0
2        Popcorn   Hot Food    5.0  0.800000            4.0
3          Pizza   Hot Food    2.0  0.250000            0.5
4  Bottled Water  Beverages    3.0  0.833333            2.5

##### 1.3 Load data from 'Calories' worksheet and plot

In [58]:
# find path to your Concessions.xlsx 
df_cals = pandas.read_excel(open('C:/Users/craigrshenton/Desktop/Dropbox/excel_data_sci/ch01_complete/Concessions.xlsx','rb'), sheetname=1) 
df_cals = df_cals.iloc[0:14, 0:2] # take data from 'Calories' worksheet
df_cals.head()

                    Item Calories
0                   Beer      200
1          Bottled Water        0
2          Chocolate Bar      255
3  Chocolate Dipped Cone      300
4            Gummy Bears      300

In [59]:
df_cals = df_cals.set_index('Item') # index df by items

# Items ranked by calories = .sort_values(by='Calories',ascending=True) 
# rot = axis rotation
ax = df_cals.sort_values(by='Calories',ascending=True).plot(kind='bar', title ="Calories",figsize=(15,5),legend=False, fontsize=10, alpha=0.75, rot=20,)
plt.xlabel("") # no x-axis lable
plt.show()

                      Calories
Item
Beer                       200
Bottled Water                0
Chocolate Bar              255
Chocolate Dipped Cone      300
Gummy Bears                300
Hamburger                  320
Hot Dog                    265
Ice Cream Sandwich         240
Licorice Rope              280
Nachos                     560
Pizza                      480
Popcorn                    500
Popsicle                   150
Soda                       120

##### 1.4 add calorie data to sales worksheet

In [50]:
df_sales = df_sales.assign(Calories=df_sales['Item'].map(df_cals['Calories'])) # map num calories from df_cals per item in df_sales (==Vlookup)
df_sales.head()

            Item   Category  Price    Profit  Actual_Profit Calories
0           Beer  Beverages    4.0  0.500000            2.0      200
1      Hamburger   Hot Food    3.0  0.666667            2.0      320
2        Popcorn   Hot Food    5.0  0.800000            4.0      500
3          Pizza   Hot Food    2.0  0.250000            0.5      480
4  Bottled Water  Beverages    3.0  0.833333            2.5        0